<div>
    <div id="header" class="bottom-shadow" data-dojo-attach-point="header">
        <img id="header-icon" data-dojo-attach-point="headerIcon"></img>
        <div id="header-title" data-dojo-attach-point="headerTitle"></div>
    </div>
    <div id="map-container">
        <div id="map-buttons-horizontal"></div>
        <div id="map-panels-horizontal" class="outline-shadow"></div>
        
        <div id="map-buttons-vertical"></div>
     
        <div id="popupWrapper" class="map-panel hide outline-shadow"></div>
    </div>
    <div id="splashscreen" class="splash-screen">
        <div id = "splashscreen-dialog"></div>           
    </div>
</div>
